
a{
	color: #000;
}
a:hover{
	color: #16b4ef;
}
.mainmenu {
  padding: 30px 0;
}
.mainmenu ul#nav{
	margin: 0;
	padding: 0;
}
.mainmenu .navbar-default {
  background: none;
  border: none;
  margin: 0;
}
.mainmenu .navbar-brand {
  padding: 0 23px 0 0;
  height: auto;
}
.header_login ul{
	list-style: outside none none;
	margin: 0;
	padding: 0 0 0 14px;
}
.header_login > ul > li > a{	
	font-size: 14px;
	text-transform: uppercase;
}
.mainmenu .nav.navbar-nav {
  float: left;
}
.emergency_number {
  background: #fe5d5d none repeat scroll 0 0;
  float: left;
  padding: 10px;
  position: relative;
}
.emergency_number a{
	color: #fff;
	font-size: 20px;
	line-height: 28px;
}
.emergency_number a > img{
	margin-right: 8px;
}
.emergency_number::after {
  background: #fe5d5d none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
  width: 10000%;
}
body#home_one .emergency_number, body#home_one .emergency_number::after{
	background: #3ac4fa none repeat scroll 0 0;
}
.mainmenu .nav.navbar-nav > li > a {
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	padding: 14px 21px 14px 30px;
	font-family: 'Lora', serif;
}
.mainmenu .nav.navbar-nav li.dropdown > a{
	background: url(img/dropdown_bg.png) no-repeat scroll 100% 50%;
}
.mainmenu .nav.navbar-nav a:hover{
	color: #16b4ef;
}
.header_top_area {
  background: #313a45 none repeat scroll 0 0;
  color: #fff;
}
.header_top_area ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header_top_area li{
	padding: 10px 0;
}
.header_top_area a{
	color: #7a7e84;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "Karla",sans-serif;
}
.header_top .left_header_top a > img{
	margin-right: 12px;
}
.right_header_top .nav a {
  padding: 0 14px;
}
.right_header_top .nav a:hover, .right_header_top .nav a:active,  .right_header_top .nav .open > a,  .right_header_top .nav .open > a:focus, .right_header_top  .nav .open > a:hover{
	background: none;
}
#menu2, #menu1 {
	background: #313a45 none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	top: 165.6%;
}
#menu2.dropdown-menu > li:first-child > a, #menu1.dropdown-menu > li:first-child > a{
	padding-top: 34px;
}
#menu2.dropdown-menu > li:last-child > a, #menu1.dropdown-menu > li:last-child > a{
	padding-bottom: 34px;
}
#menu2.dropdown-menu > li > a, #menu1.dropdown-menu > li > a {
  color: #fff;
  padding: 14px 100px 14px 34px;
  text-transform: uppercase;
  line-height: 26px;
}
#menu2.dropdown-menu > li > a:hover, #menu1.dropdown-menu > li > a:hover, #menu1.dropdown-menu > li > a:active, #menu2.dropdown-menu > li > a:active{
	color: #3ac4fa;
	background: none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	background: none;
}


.main_slider_area{
	font-family: "Playfair Display",serif;
	padding-bottom: 90px;
	position: relative;
}



body#home_one .hotel_booking_area {
	left: calc( 50% - 585px );
	position: absolute;
	text-transform: uppercase;
	top: 0;
	z-index: 200;
}
body#home_two .hotel_booking_area{
	bottom: 2%;
}
.picker-container{
	display: none;
}

.hotel_booking{
	background: #313a45 none repeat scroll 0 0;
	font-family: "Karla",sans-serif;
	min-height: 94px;
	padding: 26px 10px;
	position: relative;
}
.room_book{
	border-right: 1px solid #475362;
	margin-right: 7%;
}
.room_book h6{
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	font-family: "Karla",sans-serif;
}
.room_book p{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 25px;
	margin: 0;
	font-family: "Karla",sans-serif;
}
form#form1 .form-group {
  margin: 0;
}
.hotel_booking .input-group {
  width: 100%;
}
.hotel_booking  .input-group-addon, .hotel_booking_area input#datepicker, .hotel_booking_area input#datepicker1{
	background: transparent none repeat scroll 0 0;
	border: medium none;
	color: #aab8ca;
	outline: none;
}
.hotel_booking  .input-group-addon{
	padding: 0 0 0 10px;
}
.hotel_booking_area ::-webkit-input-placeholder { /* WebKit browsers */
    color: #aab8ca;
}
.hotel_booking_area ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aab8ca;
    opacity:  1;
}
.hotel_booking_area input#datepicker, .hotel_booking_area input#datepicker1, .hotel_booking_area select#room, .hotel_booking_area select#adult, .hotel_booking_area select#child, .hotel_booking_area select#bed {
	font-size: 13px;
	height: 37px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
.hotel_booking_area select#room{

}
.form-control:focus{
	box-shadow: none;
}
.hotel_booking_area select{
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent none repeat scroll 0 0;
	border: medium none;
	color: #aab8ca;
	outline: medium none;
	font-family: "Karla",sans-serif;
	padding-left: 8px;
}
.hotel_booking_area select > option{
	border: medium none;
	margin: 0;
	padding: 5px 5px 5px 15px;
}
.icon_arrow:after{
	content: '\f107';
	color: #aab8ca;
	font-family: "FontAwesome";
	font-size: 14px;
	line-height: 42px;
	position: absolute;
	right: 9%;
	top: -6%;
	z-index: 1;
}



body#home_one .special_offer_main {
	height: 276px;
	position: absolute;
	right: 0;
	top: 100%;
	width: 223px;
	z-index: 11;
}

/* --------------------------------------------------------
 					end special offer CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
5.					start welcome area CSS
-----------------------------------------------------------*/

body#home_one .welcome .section_description {
  padding: 0 20% 43px;
  text-align: center;
}
body#home_one .welcome .section_description p{
	font-size: 16px;
	font-family: 'Karla', sans-serif;
}
body#home_one .welcome .room_media, .accomodation_single_room .room_media, body#room_detail_page .welcome .room_media {
  margin-bottom: 28px;
  text-align: center;
}
body#home_one .single_room_wrapper .uk-overlay, body#accomodation_page .single_room_wrapper .uk-overlay {
  overflow: visible;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
body#home_one .single_wrapper_details, body#accomodation_page .single_wrapper_details {
	background: #f7c411 none repeat scroll 0 0;
	height: 100%;
	width: 100%;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	-webkit-display: block;
	padding: 13px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   body#home_one .single_wrapper_details, body#accomodation_page .single_wrapper_details {
    display: none;
  }
} 
body#home_one .single_room_wrapper .uk-overlay:hover .single_wrapper_details, body#accomodation_page .single_room_wrapper .uk-overlay:hover .single_wrapper_details {
	display: block;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
body#home_one .single_room_wrapper .uk-overlay:hover .left_room_title a.btn, body#accomodation_page .single_room_wrapper .uk-overlay:hover .left_room_title a.btn{
	background: #63c2ea none repeat scroll 0 0;
	color: #fff;
}
body#home_one .single_wrapper_details .single_wrapper_details_pad, body#accomodation_page .single_wrapper_details .single_wrapper_details_pad{
	height: 100%;
	width: 100%;
}
body#home_one .single_wrapper_details h5, body#accomodation_page .single_wrapper_details h5 {
  color: #000;
  font-size: 18px;
  font-family: "Lora",serif;
  text-transform: none;
}
body#home_one .single_wrapper_details p, body#accomodation_page .single_wrapper_details p{
	color: #444;
	font-size: 15px;
}
body#home_one .single_room_wrapper, body#accomodation_page .single_room_wrapper{
  overflow: hidden;
}
body#home_one .single_wrapper_details .single_room_cost p, body#accomodation_page .single_wrapper_details .single_room_cost p{
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 18px;
	font-family: "Lora",serif;
}
body#home_one .single_wrapper_details .single_room_cost p span, body#accomodation_page .single_wrapper_details .single_room_cost p span{
	font-size: 11px;
}
body#home_one .single_wrapper_details .single_room_cost .btn, body#accomodation_page .single_wrapper_details .single_room_cost .btn {
	border: none;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	color: #444;
	margin-bottom: -74px;
	margin-right: -23px;
}
body#home_one .single_wrapper_details .single_room_cost .btn:hover, body#accomodation_page .single_wrapper_details .single_room_cost .btn:hover{
	background: #444;
	color: #fff;
}

body#home_one .welcome .room_media a, .accomodation_single_room .room_media a {
  display: block;
}
body#home_one .welcome .left_room_title > h6, .accomodation_single_room .left_room_title > h6 {
  font-family: "Lora",serif;
  font-size: 18px;
  text-transform: none;
}
body#home_one .welcome .left_room_title > p, .accomodation_single_room .left_room_title > p {
	font-family: "Lora",serif;
  	font-size: 18px;
}
body#home_one .welcome .left_room_title > p > span, .accomodation_single_room .left_room_title > p > span {
	font-size: 11px;
}



.about_us .news .post_title > h6 {
  color: #131e2a;
  font-family: "Karla",sans-serif;
  font-size: 16px;
}
.about_us .news .post_content > p {
  font-size: 12px;
  margin: 6px 0 0;
  color: #949494;
}
.about_us .showcase ul{
	list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.about_us .showcase .demo .item{
    margin-bottom: 60px;
}
.about_us .showcase .content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.about_us .showcase .content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.about_us .showcase .demo{
	width: 100%;
}
.about_us .showcase .lslide.active > img {
  min-height: 338px;
}
body#home_two .about_details {
  margin-top: 30px;
}
body#home_two .about_details > p {
	color: #666666;
	line-height: 26px;
	margin: 0;
}
body#home_two .hotel_thumb > img {
  height: auto;
  width: 100%;
}
div#customer_says_slider .customer_comment {
  background: rgba(0, 0, 0, 0) url("img/customer-slider-bg.png") no-repeat scroll 0 0 / cover ;
  padding: 25px 34px 23px;
}
div#customer_says_slider .customer_comment > p {
  line-height: 25px;
  margin: 0;
  padding-bottom: 20px;
}
div#customer_says_slider .slider_says {
  bottom: 28%;
  position: absolute;
  right: 6.4%;
}
div#customer_says_slider .slider_says.left {
  right: 16.5%;
}
div#customer_says_slider .slider_says i {
  font-size: 20px;
}


.footer_area{
	background: #313a45;
}
.footer_widget > h5 {
  color: #fff;
  margin-bottom: 45px;
}
.footer_widget ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer_widget p, .footer_widget ul li a, .footer_copyright p, .footer_copyright a{
	color: #d5d7d8;
}
.footer_widget ul li a:hover, .footer_copyright a:hover{
	color: #16b4ef;
}
.footer .footer_logo {
  margin-bottom: 19px;
}
.footer_widget ul li{
	margin-bottom: 25px;
}
.footer_widget ul li p i {
  float: left;
  line-height: 20px;
  margin-right: 10px;
  min-height: 80px;
}
.footer_widget ul li p{
	margin: 28px 0px;
}


#loader-wrapper .logo {
  position: absolute;
  top: 48%;
  left: 47.5%;
}
#loader-wrapper .logo a {
	font-weight: 700;
	color: #3498DB;
	font-size: 12px;
}
.logo span {
  color: #f85654;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
	background:#fff;
	
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f85654;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
